<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Watchy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  
  <body>

  <form class="d-flex flex-column align-items-center justify-content-center vh-100" action="/watchlist" method="POST">

    <% if (locals.val === 1) { %>
      <div class="toast mb-3 w-50" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="./image/cash-coin.svg" class="rounded me-2" alt="...">
          <strong class="me-auto">Stock Wathcy</strong>
          <small>1 seconds ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" style="text-align: center">
          Sign up successful
        </div>
      </div>
    <% } %>

    <% if (locals.val === 2) { %>
      <div class="toast mb-3 w-50" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="./image/cash-coin.svg" class="rounded me-2" alt="...">
          <strong class="me-auto">Stock Wathcy</strong>
          <small>1 seconds ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" style="text-align: center">
          User already exists. Try different username and email
        </div>
      </div>
    <% } %>

    <% if (locals.val === 3) { %>
      <div class="toast mb-3 w-50" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="./image/cash-coin.svg" class="rounded me-2" alt="...">
          <strong class="me-auto">Stock Wathcy</strong>
          <small>1 seconds ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" style="text-align: center">
          Wrong username
        </div>
      </div>
    <% } %>

    <% if (locals.val === 4) { %>
      <div class="toast mb-3 w-50" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="./image/cash-coin.svg" class="rounded me-2" alt="...">
          <strong class="me-auto">Stock Wathcy</strong>
          <small>1 seconds ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" style="text-align: center">
          Wrong password
        </div>
      </div>
    <% } %>

    <img class="mb-3" src="./image/cash-coin.svg" alt="" width="70" height="70">
    <h1 class="h2 mb-3 fw-normal"> Stock Watchy Login</h1>

    <div class="form-floating w-50 mb-3" bis_skin_checked="1">
      <input type="username" class="form-control" id="floatingInput" name="username" placeholder="">
      <label for="floatingInput">Username</label>
    </div>

    <div class="form-floating w-50 mb-3" bis_skin_checked="1">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-check text-start my-3" bis_skin_checked="1">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
    <button class="btn btn-primary w-50 py-2 my-2" type="submit">Sign in</button>
    <button class="btn btn-outline-primary w-50 py-2" value="GET" formaction="/sign-up" type="submit">Sign up</button>
    
  </form>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
      var toastEl = document.querySelector('.toast');
      if (toastEl) {
        var toast = new bootstrap.Toast(toastEl);
        toast.show();
      }
    });
  </script>

  <footer style="text-align: center;" class="pb-3">
    <hr>
     <small> © Copyright 2024, PEAL HASAN</small>
  </footer>
  </body>
</html>
